body{
    background-color: black;
    height: 1000px;

}
.menu-bar-text-name{
    color: white;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: row;
    padding: 10px 0 0 20px;
    font-size: 20px;
    transition: font-size 0.15s;

}
.menu-bar-text-name:hover{
    cursor: pointer;
    color: rgb(189, 189, 189);
    font-size: 22px;
}
.menu-bar{
    color: white;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
}
.menu-bar-text{
    display: flex;
    flex-direction: row;

}
.menu-text{
    font-size: 20px;
    margin: 10px 0 0 40px;
    position: relative;
}
.menu-text:hover{
    cursor: pointer;
}
.highlight{
    width: 0px;
    z-index: 10000;
    bottom: 0;
    height: 2px;
    border-radius: 0px;
    position: absolute;
    background: white;
    transition: width, 0.15s;
}
.menu-text:hover .highlight{
    width: 110%;
}
.menu-icons-linkedin{
    height: 30px;
    width: 30px;
    margin: 7px 0 0 20px;
    transition: height, 0.15s;
    transition: width, 0.15s;
}

.menu-icons-segment{
    display: flex;
    flex-direction: row;
}
.menu-icons-end{
    height: 30px;
    width: 30px;
    margin: 7px 0px 0 0px;
    transition: height, 0.15s;
    transition: width, 0.1s;
}
.introduction-tab{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    margin-top: 100px;
    margin-left: 190px;
    margin-right: 190px;
    margin-bottom: 100px;

}
.introduction-body{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.resume-button{
    padding: 18px 29px 18px 29px;
    color: white;
    border-color: white;
    background-color: transparent;
    font-family: "Inter", sans-serif;
    transition: background-color, 0.15s;
    transition: color, 0.15s;
    border-style: solid;
}
.resume-button:hover{
    background-color: white;
    color: black;
    border-color: black;
    cursor: pointer;
}
.links{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    padding-right: 20px;
}
.menu-icons-linkedin:hover{
    height: 40px;
    width:  40px;
    cursor: pointer;
}
.linked-in-container{
    height: 40px;
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.menu-icons-end:hover{
    height: 40px;
    width:  40px;
    cursor: pointer;
}
.title-text{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 60px;
    padding-bottom: 10px;
}
.bar{
    background-color: white;
    height: 100%;
    width: 5px;
    margin-right: 15px;margin-left: 30px;
}
.introduction-text{
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
}
.main-text{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 20px;
}
.frame{
    background-color: transparent;
    border: solid 3px white;
    height: 260px;
    width: 210px;
    /* position: relative; */
}
.picture{
    position: absolute;
    background-color: white;
    border: solid 3px white;
    height: 260px;
    width: 210px;
    z-index: 10;
    top: 140px;
    right: 210px;
    transition: top, 0.15s ;
    transition: right, 0.15s ;
}
.picture:hover{
    /* height: 280px;
    width: 230px; */
    top: 126px;
    right: 200px;
}
.about-tab{
    /* background-color: rgb(46, 46, 46); */
    height: 500px;
    
}
.skills-tab{
    height: 600px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}
.skills-header{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 40px;
    margin-top: 50px;
    position: relative;
    margin-bottom: 50px;
}
.bar-1{
    background-color: white;
    width: 130px;
    height: 4px;
    border-radius: 10px;
    position: absolute;
    top: -10px;
}
.bar-2{
    background-color: white;
    width: 200px;
    height: 4px;
    border-radius: 10px;
    position: absolute;
    top: 55px;
    left: -25%;
}
.skill-boxes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 90%;
}

.skill-cont{
    background-color: rgb(37,37,37);
    height: 370px;
    width: 250px;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 20px;
}
.skill-cont:hover{
    border: solid 2px white;
    cursor: pointer;
}
.skill-cont:hover .skill-icons{
    height: 70px;
    width:  70px;
    top: -165px;
}
.skill-cont:hover .skill-labels{
    opacity: 1;
    transition: opacity, 0.3s, ease-in, 0.3s;
}
.skill-cont:hover .skill-desc{
    opacity: 1;
    transition: opacity, 0.3s, ease-in, 0.3s;
}
.top-row{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.skill-icons{
    width: 90px;
    height: 90px;
    transition: height, 0.15s;
    transition: width, 0.15s;
    position: absolute;

}
.icons-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
}
.skill-labels{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 25px;
    opacity: 0;
    transition: opacity, 0.3s, ease-out, 0s;
    padding-top: 30px;
}
.skill-desc{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 18px;
    font-family: "Inter", sans-serif;
    color: white;
    opacity: 0;
}
.projects-tab{
    background-color: rgb(37,37,37);
    height: 1350px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}
.projects-header{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 40px;
    margin-top: 50px;
    position: relative;
    margin-bottom: 50px;
}
.bar-1-pr{
    background-color: white;
    width: 210px;
    height: 4px;
    border-radius: 10px;
    position: absolute;
    top: -10px;
}
.bar-2-pr{
    background-color: white;
    width: 310px;
    height: 4px;
    border-radius: 10px;
    position: absolute;
    top: 55px;
    left: -25%;
}
.project-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom:40px;

width: 90%;
}
.project-pic{
    border: solid 2px white;
    height: 350px;
    width: 260px;
    border-radius: 10px;
    margin-right: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cards{
    height: 120px;
    width: 120px;
    transition: height  0.15s;
    transition: width 0.15s;
}
.project-pic:hover .cards{
    height: 180px;
    width: 180px;
}
.project-pic:hover{
    cursor: pointer;
}
.project-body{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.project-title{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 50px;

margin-bottom: 10px;
}
.project-subhead{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 25px;

}
.project-text{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 22px;
    width: 600px;
    margin-bottom: 15px;
}
.learn-more{
    font-family: "Inter", sans-serif;
    color: white;
    text-decoration: underline;
    transition: color, 0.15s;
}
.learn-more:hover{
    cursor: pointer;
    color: gray;
}
a {
    color: inherit;
    text-decoration: inherit;
  }
#skillz {
    scroll-margin-top: 60px;
  }
#projectz {
    scroll-margin-top: 60px;
  }
#Home{
    scroll-margin-top: 130px;
}
.contact-tab{
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    padding-top: 60px;
}
.contact-input-header{
    display: flex;
    flex-direction: column;
    color: white;
}
.contact-me{    
    font-family: "Inter", sans-serif;
    color: white;
    font-size:60px;
}
.input-box{
    padding: 10px 90px 10px 10px;
    margin-top: 30px;
    background-color: black;
    border: none;
    border-bottom: solid 1px gray;
    color: white;
    font-family: "Inter", sans-serif;
    width: 200px;
    outline: 0;
}
.input-box .placeholder{
    font-family: "Inter", sans-serif;
    color: white;
}
.resume-button-2{
    padding: 12px 25px 12px 25px;
    color: white;
    border-color: white;
    background-color: transparent;
    font-family: "Inter", sans-serif;
    transition: background-color, 0.15s;
    transition: color, 0.15s;
    border-style: solid;
    margin-top: 30px;
}
.resume-button-2:hover{
    background-color: white;
    color: black;
    border-color: black;
    cursor: pointer;
}
.input-box:focus{
    border-color: white;
    outline: 1px dotted #000;
}
.personal-info-tab{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-label{
    font-family: "Inter", sans-serif;
    color: gray;
    font-size: 20px;
}
.info{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 15px; 
}
.info-containers{
    margin-bottom: 30px;
}
.info:hover{
    text-decoration: underline;
    cursor: pointer;
}
.contact-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 40px;
}
.menu-icons-linkedin-1{
    height: 50px;
    width: 50px;
    margin: 7px 0 0 20px;
    transition: height, 0.15s;
    transition: width, 0.15s;
}

.menu-icons-linkedin-1:hover{
    height: 65px;
    width:  65px;
    cursor: pointer;
}
.my-pic-1{
    height: inherit;
    width: inherit;
    object-fit: cover;
}
.background-pic{
    width: inherit;
    height: 100%;
    opacity: 40%;
    position: absolute;
    z-index: 10;
}

.background-pic-container{
    height: 500px;
    width: 100%;
    /* display: flex;
    flex-direction: row;
    justify-content: right; */
    position: relative;
}
.about-header{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 50px; 
    padding: 40px 0px 20px 40px;
}
.about-body{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 30px; 
    padding: 0 0 0 40px;
    width: 600px;
    height: 100% !important;
}
.about-content{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
#Aboutz{
    scroll-margin-top: 50px;
}