body{
margin: 0;
padding-left: 396px;
padding-top: 0px;
height: 10000px;
border-right: 1px solid rgb(224, 224, 224);
z-index: 0;
}
.body-two{
    z-index: 0;
    /* overflow: auto; */
    height: 1000px;
    position: sticky;
    top: -500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.body-one{
    height: 100%;
    padding-top: 70px;
    border-right: 1px solid rgb(224, 224, 224);
    display: flex;
    flex-direction: column;

}
.scroll-fix{
    background-color: white;
    position: sticky;
    top: 0;
    height: 60px;
}
.conditions{
    font-family: 'Roboto', sans-serif; 
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.row-conditions{
    width: 280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    color: rgb(138, 138, 138);
}
p{
    margin: 0;
    font-family: 'Roboto', sans-serif; 
}