body{
margin: 0;
padding-left: 396px;
padding-top: 0px;
height: 10000px;
border-right: 1px solid rgb(224, 224, 224);
z-index: 0;
}
.body-two{
    z-index: 0;
    /* overflow: auto; */
    height: 1000px;
    position: sticky;
    top: -500px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.body-one{
    height: 100%;
    padding-top: 70px;
    border-right: 1px solid rgb(224, 224, 224);

}
.scroll-fix{
    background-color: white;
    position: sticky;
    top: 0;
    height: 60px;
}