.tweet-container{
    width: 628px;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.profile-pic-container img{
    border-radius: 50%;
    width: 100%;
    width: 40px;
}
.tweet-text{
    height: 40px;
    flex: 1;
}
.tweet-body-container{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.text-box{
    height: 40px;
    outline: 0 !important;
    margin-left: 10px;
    border: 0px;
}
.text-box::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    color: rgb(100, 100, 100);
}
.icons{
    height: 19px;
    color: rgb(255, 255, 255);

}
.icons-container{
    margin-left: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex: 1;

}

.post{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;


}
button.tweet {
    background-color: rgb(89, 152, 230);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    letter-spacing: 0.4px;
    transition: box-shadow 0.15s, margin-left, 0.15s, margin-top, 0.15s,
      box-shadow 0.15s;
}
button.tweet:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
button.tweet:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    margin-left: 3px;
    margin-top: 3px;
}
.body-container{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.tweet-icons-buttons{
    padding-top: 5px;
    border-radius: 50%;
    border: 0;
    background-color: white;
    transition: background-color 0.15s;
}

.tweet-icons-buttons:hover{
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}
.body-aligner{
    display: flex;
    flex-direction: row;
    z-index: 10000000;
    height: 100%;
}
.search-bar{
display: flex;
flex-direction: row;
padding: 15px 10px 15px 10px;
width: 250px;
border-radius: 0px 40px 40px 0;
background-color: rgb(243, 243, 243);
border:0;
outline: 0 !important;
}
.search-bar::placeholder{
    font-family: 'Roboto', sans-serif;
}


.search{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 25px;
}
.search-button-icon img{
    width: 15px;
}
.search-button-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 60px;
    border-radius: 40px 0px 0px 40px;
    border: 0;
    background-color: rgb(243, 243, 243);
}
.search-button-icon:hover{
    cursor: pointer;
}
.premium{
    padding-left: 30px;
}