.tweet-container{
    width: 628px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.profile-pic-container img{
    border-radius: 50%;
    width: 100%;
    width: 40px;
}
.tweet-text{
    height: 40px;
    flex: 1;
}
.tweet-body-container{
    display: flex;
    flex-direction: column;
    width: 400px;
}
.text-box{
    height: 40px;
    outline: 0 !important;
    margin-left: 10px;
    border: 0px;
}
.text-box::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 20px;
    color: rgb(100, 100, 100);
}
.icons{
    height: 19px;
    color: rgb(255, 255, 255);

}
.icons-container{
    margin-left: 10px;
    padding-bottom: 0px;
    padding-top: 20px;
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    flex: 1;

}

.post{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;


}
button.tweet {
    background-color: rgb(89, 152, 230);
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
    letter-spacing: 0.4px;
    transition: box-shadow 0.15s, margin-left, 0.15s, margin-top, 0.15s,
      box-shadow 0.15s;
}
button.tweet:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
button.tweet:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    margin-left: 3px;
    margin-top: 3px;
}
.body-container{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.tweet-icons-buttons{
    padding-top: 5px;
    border-radius: 50%;
    border: 0;
    background-color: white;
    transition: background-color 0.15s;
}

.tweet-icons-buttons:hover{
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}
.body-aligner{
    display: flex;
    flex-direction: row;
    z-index: 10000000;
    height: 100%;
}
.search-bar{
display: flex;
flex-direction: row;
padding: 15px 10px 15px 10px;
width: 250px;
border-radius: 0px 40px 40px 0;
background-color: rgb(243, 243, 243);
border:0;
outline: 0 !important;
font-family: 'Roboto', sans-serif;
}
.search-bar::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}


.search{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 25px;

    z-index: 2;

}
.search-button-icon img{
    width: 15px;
}
.search-button-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 46px;
    width: 60px;
    border-radius: 40px 0px 0px 40px;
    border: 0;
    background-color: rgb(243, 243, 243);
}
.search-button-icon:hover{
    cursor: pointer;
}
.premium{
    margin-left: 30px;
    background-color: rgb(243, 243, 243);
    width: 300px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 0 20px 30px;
    margin-bottom: 30px;
    margin-top: 25px;
    row-gap: 15px;

}
button.post-button {
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    letter-spacing: 0.4px;
    transition: box-shadow 0.15s, margin-left, 0.15s, margin-top, 0.15s,
      box-shadow 0.15s;
}
button.post-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
button.post-button:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    margin-left: 3px;
    margin-top: 3px;
}
.main-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 22px;
}
.secondary-text{
    font-family: 'Roboto', sans-serif;
    color: rgb(109, 109, 109);
}
.trending-tab{
    margin-left: 30px;
    background-color: rgb(243, 243, 243);
    width: 330px;
    height: 450px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 0px 0 20px 0px;
    margin-bottom: 30px;

}
.trending-with-photo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 30px;
}
.trending-pic img{
    width: 80px;
    height: 80px;
    border-radius: 15px;
    object-fit: cover;
}
.trending-text{
    font-family: 'Roboto', sans-serif; 
    padding-bottom: 7px;
    padding-top: 2px;
    font-weight: 600;
    
}
.trending-subtext{
    font-family: 'Roboto', sans-serif; 
    font-size: 13px;
    color: rgb(104, 104, 104);
}
.more-button img{
    width: 10px;

}
.trending-with-photo:hover{
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}
.trending{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    padding-bottom: 10px;
    transition: background-color 0.15s;
    padding-left: 30px;
}
.trending:hover{
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}
.more-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.main-texts{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 22px;
    padding-left: 30px;
    padding-top: 20px;
}
.show-more{
    font-family: 'Roboto', sans-serif;
    padding-left: 30px;
    padding-top: 7px;
    height:max-content;
    padding-bottom: 20px;
    border-radius: 0px 0px 20px 20px;
    color: rgb(28, 95, 158);
}
.show-more:hover{
    background-color: rgb(231, 231, 231);
    cursor: pointer;

}
.following-tab{
    margin-left: 30px;
    background-color: rgb(243, 243, 243);
    width: 330px;
    height: 285px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 0px 0 20px 0px;
    margin-bottom: 30px;

}
.following-pics img{
    width: 50px;
    border-radius: 50%;
    padding-right: 10px;
}
.trendings{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 20px;
    padding-bottom: 10px;
    transition: background-color 0.15s;
    padding-left: 30px;
}
.following-arrange{
    display: flex;
    flex-direction: row;
}
.main-textss{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 22px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px; 
}
button.follow-button {
    background-color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    color: white;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 24px;
    padding-left: 24px;
    border-radius: 40px;
    font-weight: 900;
    font-size: 13px;
    cursor: pointer;
    letter-spacing: 0.4px;
    transition: box-shadow 0.15s, margin-left, 0.15s, margin-top, 0.15s,
      box-shadow 0.15s;
}
button.follow-button:hover {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
button.follow-button:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    margin-left: 3px;
    margin-top: 3px;
}
.follow-button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.more-posts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid rgb(224, 224, 224);
}
.more-posts-button{
    font-family: 'Roboto', sans-serif;
    color: rgb(89, 152, 230);
    height: 100%;
    width: 100%;
    background-color: white;
    border: 0;
    transition: background-color 0.15s;
    font-size: 16px;
}
.more-posts-button:hover{
    background-color:rgb(231, 231, 231);
    cursor: pointer;
}
.tweet-containers{
    width: 628px;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.post-body-container{
    position: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 628px;
}
.post-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
}
.name-and-tag{
    display: flex;
    flex-direction: row;
}
.post-text{
    padding-top: 7px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.tags{
    font-family: 'Roboto', sans-serif;
    color: rgb(129, 129, 129);
    font-size: 14px;
    padding-left: 5px;
    padding-top: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.reactions-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icons-bar{
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content:space-between;
}

.comment-bar img{
    height: 18px;
}
.comment-bar{
    display: flex;
    flex-direction: row;
}
.repost-bar{
    display: flex;
    flex-direction: row;
}
.repost-bar img{
        height: 18px;
        margin-right: 6px;
}
.bookmark-share{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.comment-container{
    height: 18px;
}
.comment-button{
    padding: 5px 5px 5px 5px;
    border-radius: 50%;
    border: 0;
    background-color: transparent;
}
.comment-button:hover{
    background-color: rgb(149, 238, 250);
    opacity: 0.5;
    cursor: pointer;
}
.comment-button:hover .comment-container img{
    height: 20px;
}
.repost-button{
    padding: 5px 5px 5px 5px;
    border-radius: 50%;
    border: 0;
    background-color: transparent;
}
.repost-button:hover{
    background-color: rgb(152, 255, 157);
    opacity: 0.5;
    cursor: pointer;
}
.repost-button:hover .comment-container img{
    height: 20px;
}
.like-button{
    padding: 5px 5px 5px 5px;
    border-radius: 50%;
    border: 0;
    background-color: transparent;
}
.like-button:hover{
    background-color: rgb(255, 155, 155);
    opacity: 0.5;
    cursor: pointer;
}
.like-button:hover .comment-container img{
    height: 20px;
}
.views-button{
    padding: 5px 5px 5px 5px;
    border-radius: 50%;
    border: 0;
    background-color: transparent;
}
.views-button:hover{
    background-color: rgb(149, 218, 250);
    opacity: 0.5;
    cursor: pointer;
}
.views-button:hover .comment-container img{
    height: 20px;
}
.bookmark-container img{
    height: 18px;
}
.bookmark-button{
    padding: 5px 5px 5px 5px;
    border-radius: 50%;
    border: 0;
    background-color: transparent;
    margin-right: 7px;
}
.bookmark-button:hover{
    background-color: rgb(149, 218, 250);
    opacity: 0.5;
    cursor: pointer;
}
.tweet-containers:hover{
    background-color: rgb(231, 231, 231);
    cursor: pointer;
}
.picture-holder img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    border: 1px solid rgb(224, 224, 224);;
}
.picture-holder{

}